@page "/"

<link href="css/Home.css" rel="stylesheet"/>
<link href="css/HomeMobile.css" rel="stylesheet"/>

<link href="css/Shared/ProjectDisplay.css" rel="stylesheet"/>

<div class="section" id="header">
	<h1>Elliott DuCharme</h1>
	<p>Software Engineer, Web Developer</p>
	<img src="https://avatars.githubusercontent.com/u/56001219?v=4" alt="Profile Picture"/>

	<div onclick="scrollToAboutMe()">
		<MaterialIcon Icon="expand_more" Size="3em"/>
	</div>
</div>

<div class="section" id="about-me">
	<div>
		<MaterialIcon Icon="person" Size="2em"/>
		<h2>About Me</h2>
	</div>

	<div>
		<div>
			<MaterialIcon Icon="speaker_notes"/>
			<span>He/him</span>
		</div>

		<div>
			<MaterialIcon Icon="school"/>
			<span>Dakota State University</span>
		</div>

		<div>
			<MaterialIcon Icon="place"/>
			<span>Sioux Falls, SD</span>
		</div>

		<div>
			<MaterialIcon Icon="work"/>
			<span>KBR — Software Engineer/Web Developer</span>
		</div>
	</div>

	<p>My name is Elliott DuCharme. I have been working as a software engineer for KBR in Sioux Falls, SD since June 2023. Previously, I interned as a software engineer at Daktronics. I earned my B.S. in Computer Science from Dakota State University, where I studied from August 2020 to May 2023. I was the lead programmer on my high school's FRC team, which led to my love of robotics. My hobbies include archery, cooking, D&amp;D, exercise, gaming, and working on personal projects, usually ones that enhance quality of life.</p>
</div>

<div class="section" id="work-experience">
	<div>
		<MaterialIcon Icon="work" Size="2em"/>
		<h2>Work Experience</h2>
	</div>

	<div>
		<span>KBR &mdash; Software Engineer/Web Developer</span>
		<span>June 2023 &ndash; Present</span>
	</div>

	<div>
		<span>Daktronics &mdash; Software Design Student</span>
		<span>May 2022 &ndash; May 2023</span>
	</div>
</div>

<div class="section" id="projects">
	<div>
		<MaterialIcon Icon="code" Size="2em"/>
		<h2>Projects</h2>
	</div>

	<p>I've developed @projects.Count projects over the years, all of which I'm very proud of, with more on the way!</p>

	<div id="sortControls">
		<span>Sort Projects By</span>

		<div>
			<select @bind="@sortMode" @onclick="@SortModeUpdated">
				<option value="Name">Name</option>
				<option value="Significance">Significance</option>
				<option value="StartDate">StartDate</option>
				<option value="EndDate">EndDate</option>
			</select>

			<select @bind="@sorting" @onclick="@SortModeUpdated">
				<option value="Ascending">Ascending</option>
				<option value="Descending">Descending</option>
			</select>
		</div>
	</div>

	<div id="projects-list">
		@foreach (var project in projects)
		{
			<ProjectDisplay Project="@project"/>
		}
	</div>
</div>

<div id="contact-info">
	<a href="mailto:ellduc4@gmail.com">ellduc4@gmail.com</a>
	<a href="https://www.linkedin.com/in/elliott-ducharme">LinkedIn</a>
	<span>507-858-9061</span>
</div>

@code {
	private List<Project> projects = Project.GetProjects();
	private SortMode sortMode = SortMode.Significance;
	private string sorting = "Descending";

	private void SortModeUpdated()
	{
		if (sorting == "Descending")
		{
			projects = sortMode switch
			{
				SortMode.Name => projects.OrderByDescending(p => p.name).ToList(),
				SortMode.Significance => projects.OrderByDescending(p => p.significance).ToList(),
				SortMode.StartDate => projects.OrderByDescending(p => p.startDate).ToList(),
				SortMode.EndDate => projects.OrderByDescending(p => p.endDate).ToList(),
				_ => throw new ArgumentOutOfRangeException()
			};
		}
		else if (sorting == "Ascending")
		{
			projects = sortMode switch
			{
				SortMode.Name => projects.OrderBy(p => p.name).ToList(),
				SortMode.Significance => projects.OrderBy(p => p.significance).ToList(),
				SortMode.StartDate => projects.OrderBy(p => p.startDate).ToList(),
				SortMode.EndDate => projects.OrderBy(p => p.endDate).ToList(),
				_ => throw new ArgumentOutOfRangeException()
			};
		}

		StateHasChanged();
	}
}