@page "/"

<link href="css/Index.css" rel="stylesheet"/>

<h1 class="title">Elliott DuCharme's Portfolio</h1>
<h2 class="title">Hello! 👋</h2>
<h2 class="title">
	I am a Senior at Dakota State University majoring in Computer Science, and I will be graduating May 2023.<br>
	What follows is a listing of all my projects I've developed over the years. Click their descriptions to show more info about them.
</h2>

<div id="sortControls">
	<select @bind="@sortMode" @bind:after="@SortModeUpdated">
		<option value="Name">Name</option>
		<option value="StartDate">StartDate</option>
		<option value="EndDate">EndDate</option>
	</select>

	<select @bind="@sorting" @bind:after="@SortModeUpdated">
		<option value="Ascending">Ascending</option>
		<option value="Descending">Descending</option>
	</select>
</div>

<div id="projects">
	@for (int i = 0; i < projects.Count; i++)
	{
		Project p = projects[i];
		<div class="project">
			<span id="name @i" class="name">@p.name</span>
			
			<div class="images">
				@if (p.imagePaths?.Length > 0)
				{
					foreach (string path in p.imagePaths)
					{
						<img title="Click for Full Size Preview" onclick="window.open('Images/@path', '_blank').focus();" src="Images/@path" loading="lazy" alt="Images/@path"/>
					}
				}
			</div>
			
			<span class="history">@p.startDate &#8211; @(p.endDate == null ? "Present" : p.endDate)</span>
			<span id="briefDesc @i" class="briefDesc" onclick="document.getElementById('briefDesc @i').style.display = 'none'; document.getElementById('longDesc @i').style.display = 'inline'">@((MarkupString)p.briefDesc)</span>
			<span id="longDesc @i" class="longDesc" onclick="document.getElementById('longDesc @i').style.display = 'none'; document.getElementById('briefDesc @i').style.display = 'inline'">@((MarkupString)p.longDesc)</span>
		</div>
	}
</div>

<div id="contactInfo">
	<span>You can reach me at:</span>
	<span>ellduc4@gmail.com</span>
	<span>elliott.ducharme@trojans.dsu.edu</span>
	<span>507-858-9061</span>
</div>

@code{
	private List<Project> projects = Project.GetProjects();
	private SortMode sortMode;
	private string sorting = "Descending";

	private void SortModeUpdated()
	{
		if (sorting == "Descending")
		{
			projects = sortMode switch {
				SortMode.Name => projects.OrderByDescending(p => p.name).ToList(),
				SortMode.StartDate => projects.OrderByDescending(p => p.startDate).ToList(),
				SortMode.EndDate => projects.OrderByDescending(p => p.endDate).ToList(),
				_ => throw new ArgumentOutOfRangeException()
			};
		}
		else if (sorting == "Ascending")
		{
			projects = sortMode switch {
				SortMode.Name => projects.OrderBy(p => p.name).ToList(),
				SortMode.StartDate => projects.OrderBy(p => p.startDate).ToList(),
				SortMode.EndDate => projects.OrderBy(p => p.endDate).ToList(),
				_ => throw new ArgumentOutOfRangeException()
			};
		}
		
		StateHasChanged();
	}
}