@page "/"

<link href="css/Index.css" rel="stylesheet">

<h1 class="title">Elliott DuCharme's Portfolio</h1>
<h2 class="title">Hello! 👋</h2>
<h2 class="title">All of my projects I've produced over the years. Click the descriptions to expand them.</h2>

<div id="projects">
	@for (int i = 0; i < projects.Count; i++)
	{
		Project p = projects[i];
		<div class="project">
			<span id="name @i" class="name">@p.name</span>
			
			<div class="images">
				@if (p.imagePaths?.Count > 0)
				{
					foreach (string path in p.imagePaths)
					{
						<img src="@path" alt=""/>
					}
				}
			</div>
			
			<span id="briefDesc @i" class="briefDesc" onclick="document.getElementById('briefDesc @i').style.display = 'none'; document.getElementById('longDesc @i').style.display = 'inline'">@p.briefDesc</span>
			<span id="longDesc @i" class="longDesc" onclick="document.getElementById('longDesc @i').style.display = 'none'; document.getElementById('briefDesc @i').style.display = 'inline'">@p.longDesc</span>
		</div>
	}
</div>

@code{
	private static readonly List<Project> projects = new()
	{
		new Project
		{
			name = "Photos Storage Server (PSS)",
			briefDesc = "A locally hosted photo and video manager written in C# Blazor, designed as a replacement for Google Photos.",
			longDesc = @"this is a line




						this is another line",
			imagePaths = new List<string>
			{
			}
		},
		new Project
		{
			name = "Graphical Photo Organizer (GPO)",
			briefDesc = "A C# WPF app for organizing folders of photos and videos based on the date they were taken.",
			longDesc = @"BBBBBBBBBBBBBBBBBBBBBB",
			imagePaths = new List<string>()
		}
	};
}